{% extends 'base.html.twig' %}

{% block title %}Image Parser{% endblock %}

{% block body %}
    <div class="absolute bg-gray-800 -right-[5%] -top-[12%] w-56 h-32 flex justify-center items-end rotate-45">
        <a href="https://gitlab.com/pron1mo/test-image-parser" title="Project Gitlab Repository" target="_blank">
            <img class="w-16 h-16 m-2 -rotate-45" src="{{ asset('build/images/gitlab-logo-500.png') }}" alt="gitlab">
        </a>
    </div>
    <div class="flex flex-col min-h-96 justify-center items-center gap-4">
        <h1 class="text-3xl font-bold text-gray-800">
            Image Parser
        </h1>
        <form class="flex" action="{{ path('parse_result') }}" method="get">
            <div>
                <label for="url" class="sr-only">Url</label>
                <input type="url" class="w-96 px-3 py-2 rounded-l outline-none text-gray-700" id="url" name="url" placeholder="Введите URL...">
            </div>
            <button id="formSubmit" type="submit" class="px-3 py-2 rounded-r bg-green-500 text-white disabled:opacity-75">Го!</button>
        </form>
    </div>
{% endblock %}
