{% extends 'base.html.twig' %}

{% block title %}Result | Image Parser{% endblock %}

{% block body %}
  <div class="container flex flex-col gap-3 mx-auto my-6 rounded p-4 bg-white">
    <h1 class="text-gray-800 text-xl">
      <a class="inline-flex items-center gap-1 px-2 py-1 rounded bg-green-500 text-white whitespace-nowrap" href="{{ path('homepage') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
        <span class="text-base">Назад</span>
      </a>
      Изображения:
    </h1>
    {% if imageList is not null %}
    <div class="grid grid-cols-4 grid-flow-row-dense gap-4">
        {% for image in imageList.images %}
          <div class="w-full flex justify-center items-center bg-chess border rounded border-gray-300">
            <img src="{{ image.getUrl }}" alt="image">
          </div>
        {% endfor %}
    </div>
    <hr>
    <div class="text-gray-800">
      На странице обнаружено <span class="font-bold">{{ imageList.countImages }}</span> изображений на <span class="font-bold">{{ (imageList.totalSize / 1024 / 1024) | round(2, 'ceil') }} Мб</span>.
    </div>
    {% else %}
      <div class="text-gray-800">
        На странице не обнаружено изображений
      </div>
    {% endif %}
  </div>
{% endblock %}
