@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-chess {
        background-position: 0 0, 10px 10px;
        background-size: 20px 20px;
        background-image: repeating-linear-gradient(
                45deg,
                theme("colors.slate.300") 25%,
                transparent 25%,
                transparent 75%,
                theme("colors.slate.300") 75%,
                theme("colors.slate.300")
        ),
        repeating-linear-gradient(
                45deg,
                theme("colors.slate.300") 25%,
                theme("colors.slate.100") 25%,
                theme("colors.slate.100") 75%,
                theme("colors.slate.300") 75%,
                theme("colors.slate.300")
        );
    }
}